* {
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden;
}

h1, h2 {
  font-family: "acumin-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
}

h2 {
  font-family: "Rift", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
  color: #F25C78;
}

p {
  font-family: "Rift", sans-serif;
}

.logonavbar {
  max-width: 45%;
}

.bgimage {
  background-image: url(../assets/texturas/whitepapertexture.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

.navbar {
  font-family: "Rift", sans-serif;
  font-weight: bold;
  font-size: large;
}

.navbar-scroll {
  background-color: #f8f9fa; /* replace with the desired background color */
}

.videocontainer {
  width: 90%;
}

main {
  margin-top: 90px;
  padding: 5%;
}

.btn-danger {
  font-family: "Rift", sans-serif;
}

/* cards */
.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  max-width: 300px;
  min-height: 250px;
  background: whitesmoke;
  padding: 30px;
  border-radius: 3px;
  box-sizing: border-box;
  margin: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.card-title {
  margin-top: 0;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.2px;
}

.card-content {
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

.cardimage {
  object-fit: cover;
}

.card-btn {
  all: unset;
  display: block;
  margin-left: auto;
  border: 2px solid plum;
  padding: 10px 15px;
  border-radius: 25px;
  font-size: 10px;
  font-weight: 600;
  transition: all 0.5s;
  cursor: pointer;
  letter-spacing: 1.2px;
}
.card-btn:hover {
  color: #f8f9fa;
  background: #E66BBA;
}

.sticky-icon {
  margin-top: 8%;
  z-index: 1;
  position: fixed;
  top: 15%;
  right: 0%;
  width: 220px;
  display: flex;
  flex-direction: column;
}

.sticky-icon a {
  transform: translate(160px, 0px);
  border-radius: 50px 0px 0px 50px;
  text-align: left;
  margin: 2px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px;
  font-size: 15px;
  font-family: "rift", sans-serif;
  transition: all 0.8s;
}

.sticky-icon a:hover {
  color: #FFF;
  transform: translate(0px, 0px);
}

.sticky-icon a:hover i {
  transform: rotate(360deg);
}

.Facebook {
  background-color: #7291F9;
  color: #FFF;
}

.Youtube {
  background-color: #F25C78;
  color: #FFF;
}

.Instagram {
  background-color: #E66BBA;
  color: #FFF;
}

.sticky-icon a i {
  background-color: #FFF;
  height: 40px;
  width: 40px;
  color: #000;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  margin-right: 20px;
  transition: all 0.5s;
}

.sticky-icon a i.fa-facebook-f {
  background-color: #FFF;
  color: #7291F9;
}

.sticky-icon a i.fa-instagram {
  background-color: #FFF;
  color: #E66BBA;
}

.sticky-icon a i.fa-youtube {
  background-color: #FFF;
  color: #F25C78;
}

/* margins */
footer, .max-width {
  max-width: 100%;
}

.margin {
  margin-right: 30px;
  margin-left: 30px;
  padding: 30px;
}

.sectiondispo {
  padding: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.lg-animation:hover {
  transform: rotate(-180deg);
}

/* carousel */
.carousel {
  width: 100%;
  overflow: hidden;
}
.carousel .carousel-container {
  display: flex;
  transition: transform 0.5s ease;
}
.carousel img {
  width: 100%;
  height: auto;
  flex-shrink: 0;
}
.carousel:hover .carousel-container {
  transform: translateX(-25%);
}

/*# sourceMappingURL=style.css.map */
