.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.sectiondispo {
  text-align: justify;
  line-height: 50px;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden;
}

.margin {
  margin-right: 3%;
  margin-left: 3%;
  padding: 3%;
}

h1 {
  font-family: "acumin-pro";
  font-weight: 700;
  font-style: normal;
  font-size: 244.1%;
}

h2 {
  font-family: "acumin-pro";
  font-weight: 700;
  font-style: normal;
  font-size: 195.3%;
}

h3 {
  font-family: "Rift";
  font-weight: 300;
  font-style: oblique;
  font-size: 156.3%;
  color: #F25C78;
}

h4 {
  font-family: "Rift";
  font-weight: 300;
  font-style: normal;
  font-size: 141.3%;
  color: #F2F2F2;
}

p {
  font-family: "Rift";
  font-weight: 300;
  font-style: normal;
  font-size: 141.3%;
}

nav li .btn-dropdown {
  color: black;
}
nav li .btn-dropdown:hover {
  background-color: #7291F9;
}

.logonavbar {
  max-width: 45%;
}

.navbar {
  font-family: "Rift";
  font-weight: bold;
  font-size: large;
  text-align: right;
}
.navbar focus {
  outline-color: #ffffff;
  outline-style: solid;
}

.navbar-scroll {
  background-color: #F2F2F2;
}

.lg-animation:hover {
  transform: rotate(-180deg);
}

footer .max-width {
  max-width: 100%;
}

.btn-danger {
  font-family: "Rift";
}

.card-btn {
  all: unset;
  display: block;
  margin-left: auto;
  border: 2px solid plum;
  padding: 8px 13px;
  border-radius: 25px;
  font-size: 70%;
  font-weight: 600;
  transition: all 0.5s;
  cursor: pointer;
  letter-spacing: 1.2px;
}
.card-btn:hover {
  color: #F2F2F2;
  background-image: linear-gradient(101deg, #7291F9, #E66BBA);
}

.wrapper .card {
  max-width: 30%;
  min-height: 25%;
  background: #F2F2F2;
  padding: 2.5%;
  border-radius: 3px;
  box-sizing: border-box;
  margin: 2%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.wrapper .card .cardimage {
  object-fit: cover;
}

.carousel {
  width: 100%;
  overflow: hidden;
}
.carousel .carousel-container {
  display: flex;
  transition: transform 0.5s ease;
}
.carousel img {
  width: 100%;
  height: auto;
  flex-shrink: 0;
}
.carousel:hover .carousel-container {
  transform: translateX(-25%);
}

.sticky-icon {
  margin-top: 8%;
  z-index: 1;
  position: fixed;
  top: 15%;
  right: 0%;
  width: 220px;
  display: flex;
  flex-direction: column;
}
.sticky-icon a {
  transform: translate(160px, 0px);
  border-radius: 50px 0px 0px 50px;
  text-align: left;
  margin: 2px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px;
  font-size: 15px;
  font-family: "rift", sans-serif;
  transition: all 0.8s;
}
.sticky-icon a:hover {
  color: #F2F2F2;
  transform: translate(0px, 0px);
}
.sticky-icon a:hover i {
  transform: rotate(360deg);
}
.sticky-icon a i {
  background-color: #F2F2F2;
  height: 40px;
  width: 40px;
  color: #161616;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  margin-right: 20px;
  transition: all 0.5s;
}
.sticky-icon a .fa-facebook-f {
  background-color: #F2F2F2;
  color: #7291F9;
}
.sticky-icon a .fa-instagram {
  background-color: #F2F2F2;
  color: #E66BBA;
}
.sticky-icon a .fa-youtube {
  background-color: #F2F2F2;
  color: #F25C78;
}
.sticky-icon .Facebook {
  background-color: #7291F9;
  color: #F2F2F2;
}
.sticky-icon .Youtube {
  background-color: #F25C78;
  color: #F2F2F2;
}
.sticky-icon .Instagram {
  background-color: #E66BBA;
  color: #F2F2F2;
}

.bgimage {
  background-image: url(../../assets/texturas/whitepapertexture.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

.videocontainer {
  width: 90%;
}

main {
  margin-top: 90px;
  padding: 5%;
}

.sectiondispo {
  padding: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.bigimage {
  width: 100%;
  height: auto;
  margin-bottom: 3%;
}

@media screen and (max-width: 480px) {
  .sticky-icon {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .margin {
    margin-right: 1%;
    margin-left: 1%;
    padding: 1%;
  }
}
@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 220.7%;
  }
}
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 175.3%;
  }
}
@media only screen and (max-width: 480px) {
  h1 {
    font-size: 132.3%;
  }
}

@media only screen and (max-width: 1024px) {
  h2 {
    font-size: 176.6%;
  }
}
@media only screen and (max-width: 768px) {
  h2 {
    font-size: 141.3%;
  }
}
@media only screen and (max-width: 480px) {
  h2 {
    font-size: 95%;
  }
}

@media only screen and (max-width: 1024px) {
  h3 {
    font-size: 141.3%;
  }
}
@media only screen and (max-width: 768px) {
  h3 {
    font-size: 95%;
  }
}
@media only screen and (max-width: 480px) {
  h3 {
    font-size: 80%;
  }
}

@media only screen and (max-width: 1024px) {
  p {
    font-size: 112.5%;
  }
}
@media only screen and (max-width: 768px) {
  p {
    font-size: 80%;
  }
}
@media only screen and (max-width: 480px) {
  p {
    font-size: 60%;
  }
}

@media only screen and (max-width: 1024px) {
  .btn-danger, .card-btn {
    font-size: 11px;
    padding: 8px 13px;
    border-radius: 15px;
    font-size: 10px;
    font-weight: 500;
  }
}
@media only screen and (max-width: 768px) {
  .btn-danger, .card-btn {
    font-size: 8px;
    padding: 6px 11px;
    border-radius: 10px;
    font-size: 8px;
    font-weight: 500;
  }
}
@media only screen and (max-width: 480px) {
  .btn-danger, .card-btn {
    font-size: 8px;
    padding: 6px 11px;
    border-radius: 10px;
    font-size: 8px;
    font-weight: 500;
  }
}

@media only screen and (max-width: 768px) {
  nav {
    background-color: #F2F2F2;
  }
}
@media only screen and (max-width: 480px) {
  nav {
    background-color: #F2F2F2;
  }
}

/*# sourceMappingURL=style.css.map */
