<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- style bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!-- style aos CDN SOURCES CSS
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
JS -->
    <!-- MI CSS -->
    <link rel="stylesheet" href="./css/style.css">
<!-- iconos -->
    <script src="https://kit.fontawesome.com/74d7ecf815.js" crossorigin="anonymous"></script>
<!-- FONTS FIJAS-->   
    <!-- font archistico -->
    <link href="https://fonts.cdnfonts.com/css/archistico" rel="stylesheet">  
    <!-- font ppal acier y solei-->        
    <link rel="stylesheet" href="https://use.typekit.net/dke8jqp.css">
<!-- TITULO -->
<title>BLOG ENTRADA 2</title>
</head>
<body class="parallaxblog">
    <header>
        <!--NAV-BAR-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-scrolled">
            <!-- Container wrapper -->
            <div class="container-fluid">
              <!-- Navbar brand -->
              <a class="navbar-brand" href="../../index.html"><img class= "logo lg-animation" src="../../assets/img/logo172x172.png" alt="logoindexdemovimientolearn"/></a>
              <!-- Toggle button -->
              <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <i class="fas fa-bars"></i>
              </button>
        
              <!-- Collapsible wrapper -->
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="active" aria-current="page" href="../nosotros.html">NOSOTRXS</a>
                    </li>
                    <li class="nav-item">
                        <a href="../blog.html">BLOG</a>
                    </li>
                    <li class="nav-item">
                        <a href="../contacto.html">CONTACTO</a>
                    </li>
                  <!-- Navbar dropdown -->
                  <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="../cursos.html"
                        id="navbarDropdown"
                        role="button"
                        data-mdb-toggle="dropdown"
                        aria-expanded="false"
                    >
                    CURSOS
                    </a>
                <!-- Dropdown menu -->
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><hr class="dropdown-divider" /></li>
                        <li>
                            <a class="dropdown-item" href="https://learnmovimiento20230308220242.mercadoshops.com.ar/" target="_blank">CURSOS DOCENTES</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="https://learnmovimiento20230308220242.mercadoshops.com.ar/" target="_blank">CURSOS DE INGLÉS</a>
                        </li>
                    </ul>
                </li>
                    <li class="nav-item dropdown">
                        <a
                            class="nav-link dropdown-toggle"
                            href="../tienda.html"
                            id="navbarDropdown"
                            role="button"
                            data-mdb-toggle="dropdown"
                            aria-expanded="false"
                        >
                        TIENDA
                        </a>
                    <!-- Dropdown menu -->
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><hr class="dropdown-divider" /></li>
                            <li>
                                <a class="dropdown-item" href="https://learnmovimiento20230308220242.mercadoshops.com.ar/" target="_blank">AGENDA</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="https://learnmovimiento20230308220242.mercadoshops.com.ar/" target="_blank">PLANIFICADORES</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="https://learnmovimiento20230308220242.mercadoshops.com.ar/" target="_blank">CALIFICADORES</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="https://learnmovimiento20230308220242.mercadoshops.com.ar/" target="_blank">SECUENCIAS DIDÁCTICAS</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="justify-content-end action-buttons ml-auto navbar navbar-expand-lg">
                    <a href="../login.html" class="btn main-btn">INICIAR</a>
                </div>
                <!-- Left links -->
              </div>
              <!-- Collapsible wrapper -->
            </div>
            <!-- Container wrapper -->
        </nav>
          <!-- Navbar -->
    </header>
<!-- MAIN -->
    <main>
    <h1>La importancia de la inclusión en el aula</h1>
    <p>
        La inclusión es un tema que está en el centro de muchos debates en el mundo de la educación. Se trata de un concepto que implica no solo la aceptación, sino la celebración de la diversidad. Cuando hablamos de inclusión en el aula, nos referimos a la creación de un ambiente seguro y acogedor en el que todos los estudiantes se sientan valorados y respetados, independientemente de su origen cultural, orientación sexual, género, discapacidad, etc.
        Uno de los autores que ha abogado por la inclusión en la educación es Paulo Freire, quien creía que la educación debía ser un proceso de liberación y transformación social. Freire defendía que la inclusión era esencial para este proceso, ya que solo cuando se incluye a todos los estudiantes se puede lograr una educación verdaderamente transformadora.
        Gabriel Brenner y Karina Kaplan también han escrito sobre la importancia de la inclusión en el aula. En su libro "Inclusión y diversidad en la escuela", Brenner y Kaplan argumentan que la inclusión no solo es una cuestión moral, sino que también es esencial para el aprendizaje y el desarrollo de los estudiantes. Los autores creen que la inclusión permite a los estudiantes aprender de diferentes perspectivas y desarrollar habilidades sociales y emocionales importantes.
        En resumen, la inclusión en el aula es fundamental para garantizar una educación transformadora y equitativa para todos los estudiantes. Al crear un ambiente acogedor y seguro para todos los estudiantes, se les brinda la oportunidad de aprender de diferentes perspectivas y desarrollar habilidades importantes que les servirán en su vida adulta.
        </p>
        
    </main>
<!-- social icons -->
    <div class="social-icons d-flex align-items-end flex-column mb-3">
        <div class= 'p-2'>
            <a href="https://www.youtube.com/channel/UCvJVwHw4owKUyUPkPt68BJg" target="_blank"><i class="icon1 fa-brands fa-youtube"></i></a>
        </div>
        <div class= 'p-2'>
            <a href="https://www.instagram.com/missorozcoyamila/" target="_blank"><i class="icon2 fa-brands fa-instagram"></i></a>
        </div>
        <div class= 'mt-auto p-2'>
            <a href="https://ar.linkedin.com/in/yamila-orozco?original_referer=https%3A%2F%2Fwww.google.com%2F" target="_blank"><i class="icon3 fa-brands fa-linkedin"></i></a>
        </div>
    </div>
<!-- go up -->
    <div class="scroll">
        <a href="#"><i class="fa-solid fa-circle-up"></i></a>
    </div>
<!--FOOTER-->
    <footer class="text-white text-center text-lg-start bg-dark">
        <!-- Grid container -->
            <div class="container p-4">
            <!--Grid row-->
            <div class="row mt-4">
            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4">Movimiento Learn</h5>
                <p class="small-text">En "Movimiento Learn" creemos en la importancia de la educación continua.</p>
                <p class="small-text">Estamos comprometidos en brindar las herramientas necesarias para el crecimiento de los educadores.</p>
                <div class="mt-4">
                <!-- Facebook -->
                    <a href='https://www.facebook.com/groups/1243820862895287/' type="button" class="btn btn-floating btn-light btn-lg"><i class="fab fa-facebook-f"></i></a>
                <!-- Insta -->
                <a href='https://www.instagram.com/missorozcoyamila' type="button" class="btn btn-floating btn-light btn-lg"><i class="fab fa-instagram"></i></a>
                <!-- youtube -->
                    <a href="https://www.youtube.com/channel/UCvJVwHw4owKUyUPkPt68BJg" type="button" class="btn btn-floating btn-light btn-lg"><i class="fab fa-youtube"></i></a>
                <!-- Linkein -->
                    <a href='https://ar.linkedin.com/in/yamila-orozco?original_referer=https%3A%2F%2Fwww.google.com%2F' type="button" class="btn btn-floating btn-light btn-lg"><i class="fab fa-linkedin"></i></a>
                </div>
                </div>
                <!--Grid column-->
        
                <!--Grid column-->
                <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
                    <ul class="fa-ul" style="margin-left: 1.65em;">
                        <div class="col-md-6">
                            <li>
                                <span class="fa-li"><i class="fas fa-home"></i></span><h5 class="ms-2">Zona Oeste, Buenos Aires</h5>
                            </li>
                        </div>
                        <div class="col-md-6">
                            <li>
                                <span class="fa-li"><i class="fas fa-envelope"></i></span><h5 class="ms-2">movimientolearn@gmail.com</h5>
                            </li>
                        </div>
                    </ul>
                </div>
                <!--Grid column-->
        
                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-4">HORARIO</h5>
        
                    <table class="table text-center text-white">
                    <tbody class="fw-normal">
                        <tr>
                        <td>Lun - Vier:</td>
                        <td>8am - 8pm</td>
                        </tr>
                        <tr>
                        <td>Vie - Sáb:</td>
                        <td>8am - 11am</td>
                        </tr>
                    </tbody>
                    </table>
                </div>
                <!--Grid column-->
                </div>
                <!--Grid row-->
            </div>
            <!-- Grid container -->
        
            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2023 Copyright:
                <a class="text-white" href="https://movimientolearn.com/">MovimientoLearn.com</a>
            </div>
    </footer>
<!-- Scripts Finales -->
<!-- script jquery -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<!-- script popper viejo y nuevo -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<!-- script viejo y nuevo -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
<!-- script animación -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
AOS.init();
</script>

</body>
</html>    
