$main-font: 'acumin-pro';
$secondary-font: 'Rift';

$primary-color-red: #F25C78;
$primary-color-lightblue:#7291F9;
$primary-color-pink: #E66BBA;
$primary-color-darkblue:#3B3086;

$neutro-color-black:#161616;
$neutro-color-white:#F2F2F2; 