<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Movimiento Learn descubre cursos de inglés, cursos docentes, recursos y colegas en nuestra comunidad educativa">
    <meta name="keywords" content="Docentes, Educación, Comunidad, Aprendizaje, Cursos, Recursos, Inglés, Enseñanza, Colaboración, Desarrollo profesional, Red de docentes, Plataforma educativa, Material educativo, Tutoriales, Herramientas docentes, Innovación educativa, Conexión docente, Formación docente, Actividades educativas, Programas de capacitación, Recursos didácticos, Evaluación educativa, Competencias docentes, Tecnología educativa, Enseñanza en línea, Estrategias pedagógicas, Planificación educativa, Experiencias educativas, Crecimiento profesional, Colaboración educativa.">
    <!-- style bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!-- aos animation -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- MI CSS -->
    <link rel="stylesheet" href="../../../css/style.css">
<!-- iconos -->
    <script src="https://kit.fontawesome.com/74d7ecf815.js" crossorigin="anonymous"></script>
<!-- FONTS-->   
<link rel="stylesheet" href="https://use.typekit.net/dke8jqp.css">
<!-- TITULO -->
    <title>Blog de Movimiento Learn, la gamificación de la educación</title>
    <link rel="icon" type="image/x-icon" href="../../../assets/img/favicon.ico">
</head>

<body class="bgImage">
    <header>
        <nav class="fixed-top navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="../../../index.html"><img class= "lgAnimation logonavbar img-fluid"src="../../../assets/img/logo172x172.png" alt="logoindexdemovimientolearn"/></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                <a class="nav-link" href="../../../views/nosotros.html">NOSOTRXS<span class="sr-only"></span></a>
                </li>
                <li class="nav-item active">
                <a class="nav-link" href="../../cursos.html">CURSOS<span class="sr-only"></span></a>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="../../../views/blog.html" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        BLOGS
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="btn-dropdown dropdown-item" href="../../../views/blog.html">BLOGS</a>
                        <a class="btn-dropdown dropdown-item" href="../../../views/blog/blogEntriesDocente/blogDocenteGeneral.html" >Blog para Docentes</a>
                        <a class="btn-dropdown dropdown-item" href="../../../views/blog/BlogEntriesIngles/blogAprenderIngles.html" >Blog para aprender Inglés</a>
                    </div>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="../../../views/tienda.html" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    RECURSOS
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="btn-dropdown dropdown-item" href="../../../views/tienda.html">Recursos Gratuitos</a>
                    <a class="btn-dropdown dropdown-item" href="../../../views/tienda/materialDocente.html" target="_self">MATERIAL DOCENTE PLANILLAS Y FORMULARIOS DOCENTES</a>
                    <a class="btn-dropdown dropdown-item" href="../../../views/apuntesLicIngles/apuntesLicIngles.html" target="_self">APUNTES LIC. EN INGLÉS</a>
                    <a class="btn-dropdown dropdown-item" href="../../../views/apuntesProgramacion/apuntesProgramación.html" target="_self">APUNTES LIC. EN PROGRAMACIÓN</a>
                    <a class="btn-dropdown dropdown-item" href="../../../views/apuntesNeuro/apuntesNeurociencias.html" target="_self">APUNTES NEUROCIENCIAS</a>
                    <a class="btn-dropdown dropdown-item" href="../../../views/blog/blogEntriesDocente/blogentries4.html" target="_self">APUNTES CONCURSOS JERÁRQUICOS</a>
                </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="../../../views/contacto.html">CONTACTO</a>
                </li>
            </ul>
            <div class="action-buttons ml-auto navbar navbar-expand-lg"></div>
            <a href="../../../views/login.html" class="btn btn-danger">Iniciar</a>
            </div>
        </nav>
    </header>
    <div class="margin container mt-5">
    <!-- PANTALLA PPAL --> 
        <main>
            <div class="text-center">
                <h1 class="mb-3">La gamificación de la educación</h1>
                <img class="rounded mx-auto cardimage bigimage" src="../../../assets/img/blogentries/gamificacionPost.jpg" alt="imagencursosportada">
            </div>
            <div class="text-justify">
                <p class="paragraphIndentation">
                    La gamificación es una técnica que utiliza elementos y dinámicas de los juegos para motivar y fomentar la participación de los estudiantes en el proceso de aprendizaje. En los últimos años, la gamificación ha ganado popularidad en el campo de la educación, ya que se ha demostrado que puede ser una herramienta efectiva para mejorar la retención de información y la motivación de los estudiantes.                 
                </p>
                <p class="paragraphIndentation">
                    Uno de los principales exponentes de la gamificación en la educación es M. J. Koepp, R. N. Gunn, A. D. Lawrence, V. J. Cunningham, A. Dagher, T. Jones, D. J. Brooks, C. J. Bench, and P. M. Grasby. En su estudio "Norepinephrine and Dopamine as Learning Signals", los autores exploran el papel de la dopamina y la noradrenalina en el aprendizaje, y cómo estos neurotransmisores pueden ser activados a través de la gamificación.
                </p>
                <p class="paragraphIndentation">
                    Otro estudio interesante es "Gamification of learning deactivates the default mode network" de Howard-Jones, P. A., Jay, T., Mason, A., & Jones, H. En este estudio, los autores demuestran cómo la gamificación puede desactivar la red de modo predeterminado del cerebro, lo que lleva a un mayor enfoque y atención por parte de los estudiantes. Además, Sherman, L. E., Payton, A. A., Hernandez, L. M., Greenfield, P. M., & Dapretto, M. en su estudio "The Power of the Like in Adolescence" examinaron cómo la gamificación puede ser utilizada para fomentar la interacción social y la cooperación entre los estudiantes. 
                </p>
                <p class="paragraphIndentation">
                    En conclusión, la gamificación puede ser una técnica efectiva para mejorar el aprendizaje y la motivación de los estudiantes en el aula. La investigación de expertos como Koepp, Gunn, Lawrence, Cunningham, Dagher, Jones, Brooks, Bench y Grasby, así como de Howard-Jones, Jay, Mason y Jones y Sherman, Payton, Hernandez, Greenfield y Dapretto, sugiere que la gamificación puede tener efectos positivos en el cerebro y en la capacidad de aprendizaje de los estudiantes.                
                </p>
                <p class="paragraphIndentation">
                    Te dejo algunos tips Para Gamificar tus clases. 
                        ❤️Establece objetivos claros: Define los objetivos de aprendizaje que deseas lograr con la gamificación y asegúrate de que estén alineados con el plan de estudios.
                        💛Crea un sistema de recompensas: Diseña un sistema de recompensas y puntos que motive a los estudiantes a participar y superar desafíos en el juego.
                        🧡Utiliza juegos adecuados para el contenido: Selecciona juegos que estén relacionados con los temas de estudio y que refuercen los conceptos y habilidades que deseas enseñar.
                        💚Fomenta la colaboración: Incorpora elementos de trabajo en equipo y colaboración en los juegos para que los estudiantes trabajen juntos y se ayuden mutuamente.
                        💙Proporciona retroalimentación continua: Ofrece retroalimentación inmediata y constructiva a medida que los estudiantes avanzan en el juego para que puedan mejorar su desempeño.
                        💜Por sobre todo Haz que sea divertido: La gamificación debe ser divertida y emocionante para que los estudiantes se sientan motivados y entusiasmados con el proceso de aprendizaje.
                </p>
    <!-- Comentarios -->
            <div id="disqus_thread"></div>
            <script>
                /**
                *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
                /*
                var disqus_config = function () {
                this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                */
                (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://movimientolearncomment.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        </main>
        <!-- social icons -->
        <div class="sticky-icon">
            <a href="https://www.instagram.com/missorozcoyamila/" target="_blank" class="Instagram"><i class="fab fa-instagram"></i> Instagram </a>
            <a href="https://www.facebook.com/groups/1243820862895287/" target="_blank" class="Facebook"><i class="fab fa-facebook-f"> </i> Facebook </a>
            <a href="https://www.youtube.com/channel/UCvJVwHw4owKUyUPkPt68BJg" target="_blank" class="Youtube"><i class="fab fa-youtube"></i> Youtube </a>
            <a href="https://tecito.app/movimientolearn" target="_blank" class="Facebook"><i class="fa-solid fa-hand-holding-heart" style="color: #7279f9;"></i></i> Tecito </a>
        </div>

    </div>
<!--FOOTER-->
<footer class="text-white text-center text-lg-start bg-dark">
    <!-- Grid container -->
    <div class="container p-4">
    <!--Grid row-->
    <div class="row mt-4">
    <!--Grid column-->
    <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
        <h3 class="text-uppercase mb-4">Movimiento Learn</h3>
        <p class="small-text">En "Movimiento Learn" creemos en la importancia de la educación continua.</p>
        <p class="small-text">Estamos comprometidos en brindar las herramientas necesarias para el crecimiento de los educadores.</p>
        <div class="mt-4">
        <!-- Facebook -->
            <a href='https://www.facebook.com/groups/1243820862895287/' target="_blank" type="button" class="btn btn-floating btn-light btn-lg"><i class="fab fa-facebook-f"></i></a>
        <!-- Insta -->
        <a href='https://www.instagram.com/missorozcoyamila' target="_blank" type="button" class="btn btn-floating btn-light btn-lg"><i class="fab fa-instagram"></i></a>
        <!-- youtube -->
            <a href="https://www.youtube.com/channel/UCvJVwHw4owKUyUPkPt68BJg" target="_blank" type="button" class="btn btn-floating btn-light btn-lg"><i class="fab fa-youtube"></i></a>
        <!-- Linkein -->
            <a href='https://ar.linkedin.com/in/yamila-orozco?original_referer=https%3A%2F%2Fwww.google.com%2F' target="_blank" type="button" class="btn btn-floating btn-light btn-lg"><i class="fab fa-linkedin"></i></a>
        <!-- Tecito App-->
        <a href='https://tecito.app/movimientolearn' target="_blank" type="button" class="btn btn-floating btn-light btn-lg"><i class="fa-solid fa-hand-holding-heart"></i></i></a>

        </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
            <ul class="fa-ul" style="margin-left: 1.65em;">
                <div class="col-md-6">
                    <li>
                        <span class="fa-li"><i class="fas fa-home"></i></span><h4 class="ms-2">Zona Oeste, Buenos Aires</h4>
                    </li>
                </div>
                <div class="col-md-6">
                    <li>
                        <span class="fa-li"><i class="fas fa-envelope"></i></span><h4 class="ms-2">movimientolearn@gmail.com</h4>
                    </li>
                </div>
            </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h4 class="text-uppercase mb-4">HORARIO</h4>

            <table class="table text-center text-white">
            <tbody class="fw-normal">
                <tr>
                <td>Lun - Vier:</td>
                <td>8am - 8pm</td>
                </tr>
                <tr>
                <td>Vie - Sáb:</td>
                <td>8am - 11am</td>
                </tr>
            </tbody>
            </table>
        </div>
        <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-white" href="https://movimientolearn.com/">MovimientoLearn.com</a>
    </div>
</footer>

<!-- Scripts Finales -->
<!-- script jquery -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<!-- script popper viejo y nuevo -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<!-- script viejo y nuevo -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
<!--Add an event listener to the window object that listens for the scroll event-->
<script>
    window.addEventListener('scroll', function() {
      // Get the navbar element
      const navbar = document.querySelector('.navbar');
      // Check if the user has scrolled past the top of the navbar
      if (window.scrollY >= navbar.offsetHeight) {
        // If the user has scrolled past the top of the navbar, add a CSS class to the navbar that sets the background color
        navbar.classList.add('navbar-scroll');
      } else {
        // If the user hasn't scrolled past the top of the navbar, remove the CSS class from the navbar
        navbar.classList.remove('navbar-scroll');
      }
    });
  </script> 
<!-- script animación -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
AOS.init();
</script>

</body>
</html>    