nav {
    li {
        .btn-dropdown {
            color: black;
                &:hover {
                    background-color: $primary-color-lightblue;
                }
            }
        }
    }

.logonavbar{
    max-width: 45%;
}

.navbar {
    font-family: $secondary-font;
    font-weight: bold;
    font-size: large;
    text-align: right;
    focus {
        outline-color: #ffffff;
        outline-style: solid;
      }    
    }  

.navbar-scroll {
        background-color: $neutro-color-white; 
      }

.lg-animation:hover {
    transform: rotate(-180deg);
}

