.logonavbar{
    max-width: 45%;
}

.navbar {
    font-family: 'Rift', sans-serif;
    font-weight: bold;
    font-size: large;
      }      

.navbar-scroll {
        background-color: #f8f9fa; /* replace with the desired background color */
      }

.lg-animation:hover {
    transform: rotate(-180deg)
}