.btn-danger{
    font-family:$secondary-font;
}

.card-btn {
	all: unset;
	display: block;
	margin-left: auto;
	border: 2px solid plum;
	padding: 8px 13px;
	border-radius: 25px;
	font-size: 70%;
	font-weight: 600;
	transition: all 0.5s;
	cursor: pointer;
	letter-spacing: 1.2px;
    &:hover {
        color:$neutro-color-white;
        background-image: linear-gradient(101deg, $primary-color-lightblue, $primary-color-pink);
    };
}

