
 .sticky-icon {
	margin-top: 8%;
	z-index: 1;
	position: fixed;
	top: 15%;
	right: 0%;
	width: 220px;
	display: flex;
	flex-direction: column;
  
	a {
	  transform: translate(160px, 0px);
	  border-radius: 50px 0px 0px 50px;
	  text-align: left;
	  margin: 2px;
	  text-decoration: none;
	  text-transform: uppercase;
	  padding: 5px;
	  font-size: 15px;
	  font-family: 'rift', sans-serif;
	  transition: all 0.8s;
  
	  &:hover {
		color: $neutro-color-white;
		transform: translate(0px, 0px);
  
		i {
		  transform: rotate(360deg);
		}
	  }
  
	  i {
		background-color: $neutro-color-white;
		height: 40px;
		width: 40px;
		color: #000;
		text-align: center;
		line-height: 40px;
		border-radius: 50%;
		margin-right: 20px;
		transition: all 0.5s;
	  }
  
	  .fa-facebook-f {
		background-color: $neutro-color-white;
		color: $primary-color-lightblue;
	  }
  
	  .fa-instagram {
		background-color: $neutro-color-white;
		color: $primary-color-pink;
	  }
  
	  .fa-youtube {
		background-color: $neutro-color-white;
		color: $primary-color-red;
	  }
	}
  
	.Facebook {
	  background-color: #7291F9;
	  color: $neutro-color-white;
	}
  
	.Youtube {
	  background-color: #F25C78;
	  color: $neutro-color-white;
	}
  
	.Instagram {
	  background-color: #E66BBA;
	  color: $neutro-color-white;
	}
  }