//fonts
h1, h2 {
    font-family: "acumin-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size:60px;
    }

h3 {
    font-family: "Rift", sans-serif;
    font-weight: 300;
    font-style:oblique;
    font-size:25px;
    color:#F25C78
    }

p {
        font-family: 'Rift', sans-serif;
        font-weight: 300;
        font-style:normal;
        font-size:30px;
    }
