h1 {
  font-family: "acumin-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 305.2%;
}
h2 {
  font-family: "acumin-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 244.1%;
}
h3 {
  font-family: "Rift", sans-serif;
  font-weight: 300;
  font-style: oblique;
  font-size: 195.3%;
  color: #F25C78;
}

h4 {
  font-family: 'Rift', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 156.3%;
  color: whitesmoke;
}

p {
  font-family: 'Rift', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 156.3%;
}